/* Body */
body {
	background: #198;
	text-align: center;
}

h1 {
	font-family: 'Short Stack', cursive;
	font-size: 50px;
}

h3 {
	font-family: 'Short Stack', cursive;
	position: relative;
}

/* Section */
section